.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

/* ring */
.loader-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #ccc;
  border-radius: 50%;
  animation: loader-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ccc transparent transparent transparent;
}

.loader-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.loader-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.loader-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loader-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ring-info div {
  border-color: #4ba3e3 transparent transparent transparent;
}

.ring-success div {
  border-color: #14b789 transparent transparent transparent;
}

.ring-warning div {
  border-color: #ffd43b transparent transparent transparent;
}

.ring-danger div {
  border-color: #e03131 transparent transparent transparent;
}

.ring-neu div {
  border-color: #183153 transparent transparent transparent;
}

/* dual ring */
.loader-dual-ring:after {
  content: ' ';
  display: block;
  width: 56px;
  height: 56px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #ccc;
  border-color: #ccc transparent #ccc transparent;
  animation: loader-dual-ring 1.2s linear infinite;
}

@keyframes loader-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* roller */
.loader-roller div {
  animation: loader-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.loader-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: #ccc;
  margin: -3.6px 0 0 -3.6px;
}

.loader-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.loader-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}

.loader-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.loader-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}

.loader-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.loader-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}

.loader-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.loader-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.loader-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.loader-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}

.loader-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.loader-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}

.loader-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.loader-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}

.loader-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.loader-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}

@keyframes loader-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ellipsis */
.loader-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: #ccc;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader-ellipsis div:nth-child(1) {
  left: 8px;
  animation: loader-ellipsis1 0.6s infinite;
}

.loader-ellipsis div:nth-child(2) {
  left: 8px;
  animation: loader-ellipsis2 0.6s infinite;
}

.loader-ellipsis div:nth-child(3) {
  left: 32px;
  animation: loader-ellipsis2 0.6s infinite;
}

.loader-ellipsis div:nth-child(4) {
  left: 56px;
  animation: loader-ellipsis3 0.6s infinite;
}

@keyframes loader-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loader-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes loader-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* ripple */
.loader-ripple div {
  position: absolute;
  border: 4px solid #ccc;
  opacity: 1;
  border-radius: 50%;
  animation: loader-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes loader-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

/* spinner */
.loader-spinner div {
  transform-origin: 40px 40px;
  animation: loader-spinner 1.2s linear infinite;
}
.loader-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3.2px;
  left: 36.8px;
  width: 6.4px;
  height: 17.6px;
  border-radius: 20%;
  background: #aaa;
}
.loader-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.loader-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.loader-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.loader-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.loader-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.loader-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.loader-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.loader-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.loader-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.loader-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.loader-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.loader-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes loader-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
