.main {
  background-color: #fff;
  color: #2c2c2c;
  border: solid 1px #00000025;
  border-radius: 16px;
  overflow: hidden;
  min-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #f6f8fa;
}

.header-dot-container {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.header-toggle {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

.header-dot {
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
}

.header-dot:nth-child(1) {
  background-color: #f26c6f;
}

.header-dot:nth-child(2) {
  background-color: #ffc554;
}

.header-dot:nth-child(3) {
  background-color: #5dce91;
}

.header-toggle div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-tab {
  width: 80px;
  height: 32px;
  background-color: #00000010;
  position: absolute;
  top: -3px;
  left: -8px;
  transition: 200ms ease-in-out;
  border-radius: 4px;
}

.header-tab.right {
  width: 92px;
  transform: translateX(91%);
}

.primary-div {
  padding: 10px;
  min-height: 100%;
  resize: horizontal;
  padding: 16px;
  white-space: pre-wrap;
}

.secondary-div {
  min-height: 100%;
  overflow-x: hidden;
}

.divider {
  width: 1px;
  min-height: 100%;
  background-color: #00000025;
  cursor: col-resize;
  transition: none;
}

.custom {
  width: 100%;
  display: flex;
  min-height: 200px;
  border-top: 1px solid #00000025;
  background-color: #f6f8fa;
}

.preview {
  width: 100%;
  min-height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-element {
  padding: 100px;
  overflow: auto;
}

.div-secondary-element {
  padding: 100px;
  overflow: auto;
}

.editor-section {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.editor-section p {
  margin: 0;
}

.editor-input-section {
  border-top: 1px solid #ffffff25;
  padding: 8px 0;
}

.editor-input-title {
  display: flex;
  padding: 2px;
  color: #2c2c2c;
  gap: 6px;
  align-items: center;
  padding-left: 16px;
}

.editor-input-title p {
  margin: 0px;
  font-weight: bold;
}

.input-section {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.input-body {
  width: fit-content;
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 4px 16px;
  border: 1px solid transparent;
}

.input-body:hover {
  border-color: #ffffff25;
  border-radius: 2px;
}

.input-body input {
  color: #2c2c2c;
  width: 50px;
  padding: 0px;
  outline: none;
  border: none;
  vertical-align: baseline;
}

.editor-section::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.editor-input-checkbox {
  padding: 0 16px;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

[role='button'],
button {
  position: relative;
}

[role='button']:focus,
button:focus {
  border: 1px solid var(--ifm-color-primary-darkest) !important;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border: 1px solid var(--ifm-color-primary-darkest);
  position: absolute;
  display: none;
}

.dot:nth-child(1) {
  top: -4px;
  left: -4px;
}

.dot:nth-child(2) {
  top: -4px;
  right: -4px;
}

.dot:nth-child(3) {
  bottom: -4px;
  right: -4px;
}

.dot:nth-child(4) {
  bottom: -4px;
  left: -4px;
}

button:focus .dot {
  display: inline;
}

[role='button']:hover,
button:hover {
  cursor: pointer !important;
  border: 1px solid var(--ifm-color-primary-darkest);
}
