.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 44px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-basic {
  background-color: #4ba3e3;
  color: #fff;
}

.btn-success {
  background-color: #14b789;
  color: #fff;
}

.btn-success:hover {
  background-color: #0f9e7a;
}

.btn-warning {
  background-color: #FFd43b;
  color: #fff;
}

.btn-warning:hover {
  background-color: #FFc82c;
}

.btn-basic:hover {
  background-color: #348fd0;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #4ba3e3;
  color: #4ba3e3;
}

.btn-outline:hover {
  background-color: #4ba3e3;
  color: #fff;
}

.btn-icon {
  border-radius: 5px;
  background-color: #4ba3e3;
  color: #fff;
}

.btn-icon:hover {
  background-color: #348fd0;
}

.btn-neu-basic {
  background-color: #4ba3e3;
  border: 2px solid black;
  color: #fff;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0);
}

.btn-neu-basic:hover {
  background-color: #348fd0;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0);
}

.btn-neu-outline {
  background-color: transparent;
  border: 2px solid black;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0);
}

.btn-neu-outline:hover {
  background-color: #4ba3e3;
  color: #fff;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0);
}

.btn-neu-icon {
  border-radius: 5px;
  background-color: #4ba3e3;
  border: 2px solid black;
  color: #fff;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0);
}

.btn-neu-icon:hover {
  background-color: #348fd0;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0);
}
