.carousel {
  width: 100%;
  max-height: 300px;
  position: relative;
  overflow: hidden;
  background-color: #000;
}

.slide {
  position: absolute;
  display: none;
}

.carousel img {
  width: 100%;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  font-size: 40px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot-chevron {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}

.bar-chevron {
  width: 16px;
  height: 4px;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}

.dot-chevron:hover {
  background-color: white;
}

.active {
  background-color: white;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
