.preview-wrapper {
  background-color: #fff;
  border-radius: 8px;
  overflow-x: hidden;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color: #f8f9fa;
  padding: 8px 16px;
  border-bottom: 1px solid #e4eaee;
}

.dot-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.copy-btn {
  color: #a6aec1;
  font-size: 20px;
  cursor: pointer;
}

.copy-btn.active {
  color: var(--ifm-color-primary);
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.dot.red {
  background-color: #ff5f5f;
}

.dot.yellow {
  background-color: #ffc107;
}

.dot.green {
  background-color: #4caf50;
}

.preview {
  display: flex;
  background-color: #fafafa;
  overflow-y: auto;
  padding: 0 16px;
}

.preview.origin-center {
  align-items: center;
  justify-content: center;
}

.preview.origin-top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.preview.origin-top-right {
  align-items: flex-start;
  justify-content: flex-end;
}

.preview.origin-bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
}

.preview.origin-bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}

.h-sm {
  height: 250px;
}

.h-md {
  height: 300px;
}

.h-lg {
  height: 400px;
}

.h-auto {
  height: auto;
  padding: 32px;
}
