.alert {
  padding: 10px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 80%;
}

.alert-info {
  background-color: #4ba3e3;
  color: #fff;
}

.alert-success {
  background-color: #14b789;
  color: #fff;
}

.alert-warning {
  background-color: #ffd43b;
}

.alert-danger {
  background-color: #e03131;
  color: #fff;
}
