.dropdown {
  position: relative;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 44px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-neu {
  color: #183153;
  border: 1px solid #183153;
  box-shadow: 0px 4px 0px 0px #183153;
}

.dropdown-panel {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown:hover .dropdown-panel {
  display: block;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 16px;
  margin-bottom: 8px;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
  border-radius: 4px;
}

.dropdown-section div:first-child {
  color: var(--ifm-color-primary);
}

.dropdown-section:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 8px;
}

.dropdown-neu .dropdown-panel {
  background-color: #fff;
  border: 1px solid #183153;
  box-shadow: 0px 4px 0px 0px #183153;
}

.dropdown-neu .dropdown-item:hover {
  background-color: #183153;
  color: #fff;
}
