.badges {
  padding: 6px 16px;
  border-radius: 99px;
}

.badge-info {
  color: #fff;
  background-color: #4ba3e3;
}

.badge-success {
  color: #fff;
  background-color: #14b789;
}

.badge-warn {
  color: #183153;
  background-color: #ffd43b;
}

.badge-outline {
  color: #4ba3e3;
  background-color: #fff;
  border: 1px solid #4ba3e3;
}
