.accordion {
  width: clamp(200px, 100%, 500px);
  margin: 0 auto;
  background-color: #bbe1ff;
  border-left: 10px solid #4ba3e3;
  border-radius: 9px;
}

.accordion + .accordion {
  margin-top: 16px;
}

.chevron-icon {
  height: 48px;
  width: 48px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1LjUgMTEuMjk5OEw5Ljg5OTk1IDUuNTk5OEM5LjQ5OTk1IDUuMTk5OCA4Ljg5OTk1IDUuMTk5OCA4LjQ5OTk1IDUuNTk5OEM4LjA5OTk1IDUuOTk5OCA4LjA5OTk1IDYuNTk5OCA4LjQ5OTk1IDYuOTk5OEwxMy40IDExLjg5OThMOC40OTk5NSAxNi43OTk4QzguMjk5OTUgMTYuOTk5OCA4LjE5OTk1IDE3LjE5OTggOC4xOTk5NSAxNy40OTk4QzguMTk5OTUgMTguMDk5OCA4LjU5OTk1IDE4LjQ5OTggOS4xOTk5NSAxOC40OTk4QzkuNDk5OTUgMTguNDk5OCA5LjY5OTk1IDE4LjM5OTggOS44OTk5NSAxOC4xOTk4TDE1LjYgMTIuNDk5OEMxNS45IDEyLjI5OTggMTUuOSAxMS42OTk4IDE1LjUgMTEuMjk5OFoiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo=');
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 150ms ease-in;
}

.accordion[open] .chevron-icon {
  transform: rotate(90deg);
}

.content-wrapper {
  padding: 16px;
}

.accordion-desc {
  max-width: 400px;
  line-height: 1.5;
}

.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0 8px 16px;
  cursor: pointer;
  list-style: none;
}

.accordion-title::-webkit-details-marker {
  display: none;
}

.accordion-info {
  background-color: #bbe1ff;
  border-color: #4ba3e3;
}

.accordion-success {
  background-color: #d3fff2;
  border-color: #14b789;
}

.accordion-warning {
  background-color: #ffeba5;
  border-color: #ffd43b;
}

.accordion-danger {
  background-color: #ffb9b9;
  border-color: #e03131;
}

.accordion-neu {
  background-color: #fff;
  color: #183153;
  border: 1px solid #183153;
  box-shadow: 4px 4px 0 #183153;
}
