.tweet {
  padding: 24px;
  border-radius: 8px;
  max-width: 280px;
}

.tweet-light {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.tweet-profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tweet-image {
  width: 40px;
  height: 40px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.tweet-username div:nth-child(1) {
  font-weight: 700;
}

.tweet-username div:nth-child(2) {
  font-weight: 500;
}

.tweet-desc {
  margin-top: 16px;
}
