.form-control {
  display: flex;
  align-items: center;
  gap: 4px;
}

.radio {
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  width: 32px;
  height: 32px;
  border: 2px solid;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.radio-info {
  border-color: #4ba3e3;
}

.radio-success {
  border-color: #14b789;
}

.radio-warning {
  border-color: #ffd43b;
}

.radio-danger {
  border-color: #e03131;
}

.radio-neu {
  border-color: #183153;
}

.radio::before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}

.radio-info::before {
  background-color: #4ba3e3;
}

.radio-success::before {
  background-color: #14b789;
}

.radio-warning::before {
  background-color: #ffd43b;
}

.radio-danger::before {
  background-color: #e03131;
}

.radio-neu::before {
  background-color: #183153;
}

.radio:checked::before {
  transform: scale(1);
}

.radio:disabled {
  opacity: 0.5;
}

.radio-info:checked + label {
  color: #4ba3e3;
}

label {
  margin-right: 16px;
}
